@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h3>@Model.Question</h3>
<input type="radio" name="selection" value="A"> @Model.Choices["A"]
<br>
<input type="radio" name="selection" value="B"> @Model.Choices["B"]
<br>
<input type="radio" name="selection" value="C"> @Model.Choices["C"]
<br>
<input type="radio" name="selection" value="D"> @Model.Choices["D"]

